body {
    margin: 0;
}

.wrapper{
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 100px 300px;
}

#canvas {
    width: 200px;
    height: 200px;
    border: none;
    padding: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
}